VOICE_RECOGNIZOR_HOST=127.0.0.1
VOICE_RECOGNIZOR_PORT=8080
VOICE_RECOGNIZOR_DEBUG=true
VOICE_RECOGNIZOR_DEVICE=cpu
VOICE_RECOGNIZOR_USE_LOCAL_MODEL=true
VOICE_RECOGNIZOR_MODELS_DIR=./models
VOICE_RECOGNIZOR_CORS_ORIGINS=*
